* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-blue: #EFF1FF;
    --light-pink: #FEEAFA;
    --light-purple: #CBC0D3;
    --light-dark-blue: #8E9AAF;
    --dark-blue: #4A4E69;
    --dark: #23053A;
    --white:  #FFFFFF;

    --font-one: 'Staatliches', cursive;
    --font-two: 'Palanquin', sans-serif;

    --ft-size-one: 40px;
    --ft-size-two: 20px;
}

header {
    height: 17.4rem;
    background-color: var(--light-dark-blue);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--light-blue);
}

.heading-box {
    background-color: var(--light-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: auto;
}

h1 {
    font-family: var(--font-one);
    font-size: (var--ft-size-one);
    font-weight: 400;
    line-height: 2rem;
    color: var(--white);
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main section p {
    font-family: var(--font-two);
    font-size: (var--ft-size-two);
    font-weight: 400;
    line-height: 1rem;
    color: var(--dark)
}

.text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.text-box {
    text-align: center;
    width: 22rem;
    height: 7rem;
    padding-top: 14px;
}

main section span {
    font-family: var(--font-one);
    font-size: (var--ft-size-two);
    color: var(--dark)

}

.ice-cream-title-box {
    background-color: var(--light-pink);
    width: 7rem;
    height: 2.18rem;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ice-cream-title-box:hover {
    background-color: var(--light-purple);
}